*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(19, 8, 8);
    color: white;
    font-size: 16px;
    height: 100vh;
}
h1{
    position: relative;
    text-align: center;
    font-size: 4rem;
    color:azure;
    text-decoration: underline;
    text-decoration-color: bisque;
    animation-name: heading;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
p{
    position: relative;
    width: 70%;
    height: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    animation-name: paragragh;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes heading{
    0%{
        top: -50px
    }
    100%{
        top: 120px
    }
}

@keyframes paragragh{
    0%{
        left: -1000px
    }
    100%{
        left: 0px;
    }
}
